[Desktop Entry]
Encoding=UTF-8
Name=ByteOnPanel
Name[ar]=ByteOnPanel
Name[be]=ByteOnPanel
Name[cs]=ByteOnPanel
Name[de]=ByteOnPanel
Name[es]=ByteOnPanel
Name[fr]=ByteOnPanel
Name[ga]=ByteOnPanel
Name[hr]=ByteOnPanel
Name[hu]=ByteOnPanel
Name[kk]=ByteOnPanel
Name[ku]=ByteOnPanel
Name[lt]=ByteOnPanel
Name[mk]=ByteOnPanel
Name[nl]=ByteOnPanel
Name[pt_BR]=ByteOnPanel
Name[ru]=ByteOnPanel
Name[sk]=ByteOnPanel
Name[sv]=ByteOnPanel
Name[tr]=ByteOnPanel
Name[tt]=ByteOnPanel
Name[uk]=Зоряний словник :: ByteOnPanel
Name[vi]=ByteOnPanel
Name[zh_CN]=流量状态
Name[zh_TW]=流量状态
Comment=Monitor Network Usage
Comment[zh_CN]=监控网络流量图标
Comment[zh_TW]=监控网络流量图标
Exec=byteonpanel
Terminal=false
Type=Application
#Icon=
StartupNotify=true
Categories=Utility;Network;
